@font-face {
	font-family: 'icon-font';
	src:url('fonts/icon-font.eot?-a1suzf');
	src:url('fonts/icon-font.eot?#iefix-a1suzf') format('embedded-opentype'),
		url('fonts/icon-font.woff?-a1suzf') format('woff'),
		url('fonts/icon-font.ttf?-a1suzf') format('truetype'),
		url('fonts/icon-font.svg?-a1suzf#icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icon-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-bold:before {
	content: "\e600";
}
.icon-arrow-right-bold:before {
	content: "\e601";
}
.icon-arrow-left:before {
	content: "\e602";
}
.icon-arrow-right:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e651";
}
.icon-search:before {
	content: "\e606";
}
.icon-linkedin:before {
	content: "\e605";
}
.icon-home:before {
	content: "\e607";
}
.icon-share:before {
	content: "\e608";
}
.icon-calendar:before {
	content: "\e609";
}
.icon-globe:before {
	content: "\e60a";
}
.icon-history:before {
	content: "\e60b";
}
.icon-location:before {
	content: "\e60c";
}
.icon-profile:before {
	content: "\e60d";
}
.icon-phone:before {
	content: "\e60e";
}
.icon-envelope:before {
	content: "\e60f";
}
.icon-star:before {
	content: "\e610";
}
