#font {
    #family {
        .istok-web-regular(){
            font-family: @istokWeb;
            font-weight: 400;
        }
        .istok-web-bold(){
            font-family: @istokWeb;
            font-weight: 700;
        }
        .istok-web-italic(){
            font-family: @istokWeb;
            font-weight: 400;
            font-style: italic;
        }
    }
    .shorthand(@size: @baseFontSize,@lineHeight: @baseLineHeight, @style:normal) {
        font-size: @size;
        line-height: @lineHeight;
        font-style: @style;
    }
    .istok-web-regular(@size: @baseFontSize, @lineHeight: @baseLineHeight, @style:normal){
        #font > #family > .istok-web-regular;
        #font > .shorthand(@size, @lineHeight, 400);
    }
    .istok-web-bold(@size: @baseFontSize, @lineHeight: @baseLineHeight, @style:normal){
        #font > #family > .istok-web-bold;
        #font > .shorthand(@size, @lineHeight, 700);
    }
    .istok-web-italic(@size: @baseFontSize, @lineHeight: @baseLineHeight, @style:normal){
        #font > #family > .istok-web-italic;
        #font > .shorthand(@size, @lineHeight, 400);
    }
}