@font-face {
	font-family: 'icon-font';
	src:url('fonts/icon-font.eot');
	src:url('fonts/icon-font.eot?#iefix') format('embedded-opentype'),
		url('fonts/icon-font.ttf') format('truetype'),
		url('fonts/icon-font.woff') format('woff'),
		url('fonts/icon-font.svg#icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icon-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-bold:before {
	content: "\e600";
}
.icon-arrow-right-bold:before {
	content: "\e601";
}
.icon-arrow-left:before {
	content: "\e602";
}
.icon-arrow-right:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e651";
}
.icon-search:before {
	content: "\e606";
}
.icon-linkedin:before {
	content: "\e605";
}
